@import "./variables.scss";

.Header {
  background-color: rgb(65,136,210);
  width: 100%;
  height: 75px;
  margin: 0;
  padding: 0;
  top: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  flex-flow: row wrap;
  box-shadow: 0 0 0 2px rgb(0,0,0);

  @include breakpoint(md) {
    padding: 0 3rem;
  }
  transition: 0.3s ease all;

  &__content {
    overflow: hidden;
    color: rgb(255,255,255);
    font-family: $fontFamily_Poppins;
    margin: 0 auto;
    max-width: 1920px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.NoSelect {
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none;
              user-select: none;
}