@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

$fontFamily_Poppins: 'Poppins', sans-serif;

//spacing
$spacing-md: 16px;
$spacing-lg: 32px;

@mixin breakpoint($point) {
    @if $point == md {
        @media (min-width: 48em) {
            @content;
        }
    }
}